
<footer class="white-wrapper">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12 wow fadeIn mb30" data-wow-delay="0.2s">
                <h4 class="text-center"> <a href="#"> A propos </a> | <a href="#">Contactez-nous</a> |<a href="#"> Conseil</a></h4>
                <span class="copyright">Copyright 2021. Designed by THE NIGHTLAB</span>
            </div>
            <div class="col-md-12">
                <ul class="list-inline social-links wow fadeIn" data-wow-delay="0.2s">
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>