
<!-- Carousel
            ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="thumbnail">
                <img src="assets/img/bg/paris2.jpg" alt="Slide1">
                <div class="caption">

                </div>
            </div>
        </div><!-- End Item -->
        <div class="item">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200/" alt="Slide2">
                <div class="caption">

                </div>
            </div>
        </div><!-- End Item -->
        <div class="item">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200/" alt="Slide1">
                <div class="caption">

                </div>
            </div>
        </div><!-- End Item -->
    </div><!-- End Carousel Inner -->
    <div class="carousel-controls">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div><!-- /.carousel -->