.divLogin::before, .divLogin::after, .divLogin {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.divLogin {
    width: 500px;
    height: 300px;
    margin: auto;
    color: white;
    box-shadow: inset 0 0 0 1px rgb(25, 25, 112);
    background-color: darkgrey;
}
.divLogin::before, .divLogin::after {
    content: "";
    z-index: -1;
    margin: -5%;
    box-shadow: inset 0 0 0 2px;
    animation: clipMe 8s linear infinite;
}
.divLogin::before {
    animation-delay: -4s;
}
.divLogin:hover::after, .divLogin:hover::before {
    background-color: whitesmoke;
}

@keyframes clipMe {
    0%, 100% {
        clip: rect(0px, 520px, 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 520px, 0px);
    }
    50% {
        clip: rect(518px, 520px, 520px, 0px);
    }
    75% {
        clip: rect(0px, 520px, 520px, 518px);
    }
}

.divLoginIn{
    padding: 1em;
}

.btn{
    margin: 10px;
    padding: 15px ;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200%;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}
.btn-submit {
    background-image: linear-gradient(to right, #00BFFF 0%, #0f3443  51%, #00BFFF  100%)
}
.btn-submit:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}